{% extends 'main.html' %}
{% block paste %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <h3 class="mb-4">Добавить Пасту</h3>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            <form method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <div class="mb-3">
                    <input type="text" name="title" class="form-control" placeholder="Название" required>
                </div> i
                <div class="mb-3">
                    <textarea name="paste" class="form-control" rows="10" placeholder="Текст" required></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}